*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdf4ea;
}

.carrinho-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5%;
  gap: 30px;
  justify-content: center; /* para ocupar toda a altura */
  box-sizing: border-box;
}

.carrinho-itens {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.livro-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 12px;
  width: 180px;
  text-align: center;
  transition: transform 0.2s;
}

.livro-card:hover {
  transform: scale(1.03);
}

.livro-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.livro-card button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.carrinho-resumo {
  color: aliceblue;
  flex: 1;
  min-width: 250px;
  background-color: #3d0808;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgba(97, 6, 6, 0.76);
  padding: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large  ;
}

.carrinho-resumo h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.carrinho-resumo p {
  font-size: 16px;
  font-weight: bold;
}

.carrinho-resumo button {
  padding: 8px;
  background-color: #775816;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.carrinho-resumo button:hover {
  background-color: #ac8825;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-content button {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-content button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.modal-content button[type="button"] {
  background-color: #ccc;
}

/* Responsividade */
@media (max-width: 768px) {
  .carrinho-layout {
    flex-direction: column;
    padding: 20px;
  }

  .carrinho-itens {
    justify-content: center;
  }

  .livro-card {
    width: 100%;
    max-width: 280px;
  }

  .carrinho-resumo {
    width: 100%;
    max-width: 400px;
    align-self: center;
  }
}